:root {
  --font-family: 'Hanken Grotesk', sans-serif;
  --white-color: white;
  --primary-color: #a6a182;
  --secondary-color: #0e110d;
}

* {
  font-family: var(--font-family);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}
.display{
  display: flex;
  flex-wrap: wrap;
}
ul,ol{
  padding: 0px;
}
.bg-image {
  position: relative;
  width: 100%;
  background-image: url("/assets/images/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; 
  display: flex;
  flex-direction: column;
}

.bg-image::before {
  content: '';
  position: absolute;
  inset:0;
  background: var(--secondary-color);
  opacity: 0.7;
}
nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  padding: 30px 0;
  border-bottom: 1px solid #ffffff1a;
}

.nav-item .nav-link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.3em;
  padding: 12px 20px !important;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
}

.nav-item .nav-link:hover {
  color: var(--primary-color);
}

.navbar-btn button ,.banner-left button:not(.aboutus-button),.aboutus-button,.reserve-table-btn button{
  position: relative;
  font-size: 16px;
  font-weight: 700;
  line-height: 1em;
  text-transform: capitalize;
  background: var(--primary-color);
  color: var(--white-color);
  border-radius: 30px;
  padding: 17px 27px 17px 30px;
  border: none;
  transition: all 0.5s ease-in-out, color 0.5s ease-in-out;
  z-index: 1;
  overflow: hidden;
}
.reserve-table-btn button{
  width: 100%;
}
.navbar-btn button::before,.banner-left button:not(.aboutus-button)::before,.aboutus-button::before ,.reserve-table-btn button::before{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: -15%;
    right: 0;
    width: 0;
    height: 106%;
    background:var(--white-color);
    transform: skew(45deg);
    transition: all 0.4s ease-in-out;
    z-index: -1;
}
.aboutus-button::before{
  background: var(--primary-color);
}
.navbar-btn button:hover,.banner-left button:not(.aboutus-button):hover{
  background-color: var(--white-color);
  color: var(--secondary-color);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.reserve-table-btn button::before{
  background-color: var(--secondary-color);
}
.aboutus-button:hover{
  background-color:var(--primary-color) ;
  color:var(--white-color);
}
.navbar-btn button:hover::before,.banner-left button:not(.aboutus-button):hover::before,.aboutus-button:hover::before,.reserve-table-btn button:hover::before{
    width: 100%;
    transform: skew(0deg);
    left: 0;
}

.aboutus-button{
  background: var(--white-color);
  color: var(--secondary-color);
}
.nav-item.dropdown .nav-link i {
  font-size: 28px;
}
.banner-section {
  margin-top: 210px;
  padding-bottom: 100px;
  position: relative;
  z-index: 5;
}
.banner-left h3,.dish-title h3{
    position: relative;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.3em;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: var(--primary-color);
    padding-left: 16px;
    margin-bottom: 10px;
}
.banner-left h3::before ,.dish-title h3::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background: var(--primary-color);
    border-radius: 50%;
    width: 6px;
    height: 6px;
}
.dish-title h3::before{
  left: 39%;
}
.dish-title.reserve-content h3::before{
  left: 0%;
}
.banner-left h1,.dish-title h1{
    font-size: 66px;
    font-weight: 600;
    line-height: 1.1em;
    text-transform: uppercase;
    color: var(--white-color);
}
.dish-title h1{
  font-size: 42px;
}
.aboutus-content h1{
  font-size: 40px;
  line-height: 1.3em;
}
.banner-left h1 span,.dish-title h1 span{
  color: var(--primary-color);
}
.banner-left p{
  color:#AEB0B4;
  font-size: 18px;
  line-height: 1.6em;
  width: 80%;
}
.aboutus-content p{
  width: 96%;
}
.banner-left a{
    font-size: 16px;
    font-weight: 600;
    text-decoration: underline;
    text-transform: capitalize;
    color:var(--primary-color);
}
.banner-left .download i{
  color: var(--primary-color);
}
.banner-img,.main-aboutus-img{
  position: relative;              
  width: 100%;
  aspect-ratio: 1 / 1.58;
  border-radius: 999px;
  overflow: hidden;                 
}
.banner-img img,.main-aboutus-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;      
  display: block;
}
.banner-img::before,.main-aboutus-img::before {
  content: '';
  position: absolute;
  inset: 0;
  background: var(--secondary-color);
  opacity: 0.2;
  z-index: 1;
  width: 100%;
}
.banner-img::after,.main-aboutus-img::after,.img-inner::after{
    content: "";
    position: absolute;
    width: 200%;
    height: 0%;
    left: 50%;
    top: 50%;
    background-color: rgba(255, 255, 255, .3);
    transform: translate(-50%, -50%) rotate(-45deg);
    z-index: 1;
}
.banner-img:hover::after,.main-aboutus-img:hover::after,.img-inner:hover::after,.blog-content:hover .img-inner:after{
    height: 250%;
    transition: all 600ms linear;
    background-color: transparent;
}
.banner-img-1 {
  top: 89px;
  right: -1%;
  z-index: 1;
  position: relative;
  overflow: hidden;
   border-radius: 50%; 
}
.banner-img-2{
  bottom: 105px;
  right: 28%;
  z-index: 1;
}
.banner-img-1 img,.banner-img-2 img,.aboutus-img img{
    width: 90%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 8px solid var(--white-color);
    border-radius: 50%;
}
.aboutus-img {
  position: absolute;
  bottom:8%;
  left: 10%;
  z-index: 1;
}
.aboutus,.offers{
  padding-top: 100px;
  padding-bottom: 80px;
  background-color:var(--secondary-color);
}
.aboutus-content ul li span{
    text-transform: capitalize;
    line-height: normal;
    padding-left: 30px;
    color: #AEB0B4;;
}
.aboutus-content ul li i,.offers-main .list ul li i{
  color:var(--secondary-color);
  padding: 2px;
  background-color: var(--primary-color);
  border-radius: 50%;
}
.offers-main .list ul li i{
  background-color: var(--white-color);
  color: var(--primary-color);
  font-size: 12px;
}
.offers-main .list ul li{
    position: relative;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    line-height: normal;
    color:var(--white-color);
    margin-bottom: 8px;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.aboutus-iconbox{
    width: 26%;
    position: absolute;
    top: 18%;
    right: 8%;
    background:var(--primary-color);
    border-radius: 14px;
    padding: 20px;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    z-index: 28;
}
.aboutus-iconbox::before,.burger-box::before{
    content: '';
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0;
    background:var(--white-color);
    z-index: 0;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
}
.aboutus-iconbox:hover::before,.burger-box:hover::before{
    height: 100%;
}
.aboutus-iconbox:hover img{
    filter: brightness(0) invert(0);
}
.aboutus-iconbox img,
.aboutus-iconbox .stats h3{
    position: relative;
    z-index: 2;
}
.aboutus-iconbox:hover .stats h3{
    color: var(--secondary-color);
}
.aboutus-iconbox h3{
    font-size: 18px;
    font-weight: 600;
    transition: all 0.4s ease-in-out;
    color: var(--white-color);
}
@keyframes chilimove {
  0% {
    transform: translateX(10px) rotate(0deg);
}

50% {
    transform: translateX(10px) rotate(20deg);
}
100% {
    transform: translateX(10px) rotate(-20deg);
}
}
.aboutus::before{
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 45%;
    background: url(/assets/images/chili-image.png) no-repeat;
    background-position: right top;
    background-size: cover;
    width: 180px;
    height: 225px;
    animation: chilimove 6s infinite linear;
    animation-direction: alternate;
    z-index: 0;
}
.aboutus{
  overflow: hidden;
}
.img-animae{
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-inner {
  width: 85%;
  height: 85%;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog-img.img-inner{
  border-radius: 30px;
  width: 100%;
  height: 100%;
}
.img-inner img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.img-inner.all-dishes img{
  width: 200px;
  transition: all 0.5s ease;
}
.img-inner.all-dishes{
  width: 65%;
  height: 65%;
  cursor: pointer;
}
.img-inner::after{
  border-radius: 50%;
}
.img-inner.all-dishes:hover img,.img-inner.blog-img:hover img,.blog-content:hover .img-inner.blog-img img{
    transform: scale(1.1);
}
.about-detail-container {
  margin-top: 60px;
  padding-top: 60px;
  border-top: 1px solid #ffffff1a;
}
.icon-box {
  width: 80px;
  height: 80px;
  margin-right: 20px;
  border: 1px solid var(--primary-color);
  border-radius: 50%;
   padding: 4px 20px;
}

.icon-box img {
  width: 40px;
  height: 40px;
  transition: 0.3s ease-in-out;
}
.about-detail-content h3,.ourdishcontent h3,.blog-main-content h3{
  font-size: 22px;
  text-transform: capitalize;
  margin-bottom: 8px;
  font-weight: 600;
  color: var(--white-color);
}
.ourdishcontent h3{
  margin-bottom: 20px;
}
.about-detail-content p,.ourdishcontent p{
  color: #AEB0B4;
  width: 88%;
  line-height: 1.6em;
}
.ourdishcontent p{
  margin-left: 22px;
}
.aboutus-detail-box {
  cursor: pointer;
}
.aboutus-detail-box:hover .icon-box{
  border-color: var(--white-color);
}
.aboutus-detail-box:hover .icon-box img{
    transform: rotateY(180deg);
    filter: brightness(0) invert(1);
}
.our-dishes{
  background: #1f2120;
  padding: 100px 0;
}
.dish-title{
  margin: 0 auto;
  max-width: 60%;
}
.dish-title.reserve-content{
  max-width: 100%;
  margin: 0px;
}
.all-dishes{
  margin-top: 45px;
}
.dish-footer p{
  color: var(--white-color);
}
.dish-footer p a{
  color: var(--primary-color);
}
@keyframes burgermove {
  0% {
    transform: translateY(0) rotate(45deg);
}
100% {
    transform: translateY(100px) rotate(-45deg);
}
}
.our-dishes::before{
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 80px;
    background: url(/assets/images/burger-image.png) no-repeat;
    background-position: left top;
    background-size: cover;
    transform: rotate(15deg);
    width: 180px;
    height: 180px;
    animation: burgermove 6s infinite linear;
    animation-direction: alternate;
    z-index: 0;
}
.offers-main img{
    width: 100%;
    aspect-ratio: 1 / 1.03;
    object-fit: contain;
}
.offers-main{
  position: relative;
  margin-right: 30px;
}
.offers-main .rating img{
  width: 8%;
  height: 8%;
  z-index: 1;
}
.burger-box{
    width: 250px;
    position: absolute;
    right: 0;
    bottom: 0;
    background:var(--primary-color);
    border-radius: 14px;
    padding: 30px;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}
@keyframes pizzamove {
  0% {
    transform: rotate(30deg);
}

100% {
    transform: rotate(-30deg);
}
}
.offers{
  overflow: hidden;
}
.offers::before{
    content: '';
    display: block;
    position: absolute;
    right: -140px;
    bottom: 80px;
    background: url(/assets/images/pizza-img.png) no-repeat;
    background-position: right top;
    background-size: cover;
    width: 378px;
    height: 378px;
    animation: pizzamove 8s infinite linear;
    animation-direction: alternate;
    z-index: 0;
}
.burger-box .title h3{
    position: relative;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    transition: all 0.4s ease-in-out;
    color: var(--white-color);
    z-index: 1;
}
.burger-box:hover .title h3,.burger-box:hover .list li span{
  color: #0e110d;
}
.burger-box:hover .list li i{
  color: var(--white-color);
  background-color: #0e110d;
}
.blog{
  position: relative;
  padding: 100px 0px;
  background-color: #1f2120;
  overflow: hidden;
}
.blog-title h3::before{
  left: 41%;
}
.blog-title{
    max-width: 54%;
}
.main-blog{
  margin-top: 80px;
}
.blog-main-content a{
  text-decoration: none;
}
.blog-content img{
      width: 100%;
    aspect-ratio: 1 / 0.7687;
    object-fit: cover;
    border-radius: 30px;
    transition: all 0.4s ease-in-out;
}
.blog-main-content a{
  color: var(--primary-color);
  font-weight: 600;
}
.blog::after{
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 100px;
    background: url(/assets/images/chili-image.png) no-repeat;
    background-position: right top;
    background-size: cover;
    width: 180px;
    height: 225px;
    animation: chilimove 6s infinite linear;
    animation-direction: alternate;
    z-index: 0;
}
.blog::before{
    content: '';
    display: block;
    position: absolute;
    left: -140px;
    bottom: 80px;
    background: url(/assets/images/pizza-img.png) no-repeat;
    background-position: left top;
    background-size: cover;
    width: 300px;
    height: 300px;
    animation: pizzamove 8s infinite linear;
    animation-direction: alternate;
    z-index: 0;
}
.reserve-body{
  padding-top: 100px;
  background: linear-gradient(180deg, #0e110d 58%, #1f2120 42%);
}
.reserve-body .open-hours h3{
  font-size: 20px;
  color: var(--white-color);
}
.reserve-body ul li{
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    color:#aeb0b4;
    font-size: 18px;
}
.reserve-body ul li span{
   width: 85%;
    font-size: 16px;
    font-weight: 400;
}
.reserve-form{
    background:var(--white-color);
    border-radius: 14px;
    padding: 60px 40px;
    width: 96%;
}
.reserve-form label{
    color: var(--secondary-color);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin-bottom: 15px;
}
.form-control:focus{
    outline: none;
}
.footer-copyright{
      padding: 40px 0 40px;
}
.footer-copyright-text{
    text-align: right;
}
.footer-copyright,.footer-contact-box{
  color: #AEB0B4;
  font-size: 18px;
}
.footer-social-icon ul li{
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white-color);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.footer-social-icon ul li:hover{
    background-color: var(--primary-color);
}
.navbar-toggler {
  color: white !important;
  background-color: var(--primary-color);
}
.navbar-toggler-icon{
  background-image: url(/public/assets/images/menu.png);
}